
// Primary

$orange: hsl(25, 97%, 53%);

// Neutral

$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$grey: hsl(216, 12%, 54%);
$dark-blue-100: hsl(213, 19%, 18%);
$dark-blue-200: hsl(216, 12%, 8%);
